* {
  font-family: sans-serif;
}
.sidenav {
  height: 100%;
  position: fixed;
  background-color: white;
  padding-top: 80px;
}
.main {
  margin-top: 50px;
  background-color: rgba(243, 235, 235, 0.178);
  padding: 50px 170px;
  height: 525px;
}
.main video {
  padding: 100px;
}
#url-name {
  background-color: #fff;
  padding: 5px;
  align-content: flex-start;
}
#mid {
  text-align: center;
}
#folder {
  height: 50px;
  width: 70px;
  background-color: #fff;
  padding: 50px 50px;
  text-align: center;
}
